################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Topicos/Topicos.Calentamiento/bin/Debug/netcoreapp3.1
/Topicos/Topicos.Calentamiento/obj
/Topicos/Topicos.Utilitarios/bin/Debug/netcoreapp3.1
/Topicos/Topicos.Utilitarios/obj
/Topicos/.vs/Topicos/v16
/Topicos/.vs/Topicos/DesignTimeBuild
/Topicos/Topicos.NorthWind.BaseDatos/bin/Debug/netcoreapp3.1
/Topicos/Topicos.NorthWind.BaseDatos/obj
/Topicos/Topicos.NorthWInd.BL/obj
